albumentations==0.4.6
h5py
hydra-core
ipython
lifelines==0.27.8
loralib==0.1.1
matplotlib==3.6.2
mlxtend==0.22.0
numpy==1.26.4
opencv-python-headless
pandas==2.0.3
Pillow
Pyrebase4
scikit-image
scikit-learn==1.2.2
scipy==1.10.0
seaborn
tensorboard
torch==2.0.0
torchaudio
torchvision
timm
transformers
tqdm==4.64.1
wandb==0.15.4
warmup_scheduler==0.3
huggingface-hub
